## Preprocessing

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN'.
application_df.drop(columns = ["EIN"], inplace = True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at NAME value counts for binning
counts = application_df.NAME.value_counts()
counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [6]:
# Choose a cutoff value and create a list of NAMES to be replaced

application_types_to_replace = list(counts[counts < 20].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                             22409
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
                                                  ...
AMERICAN IRIS SOCIETY                                21
ARIZONA FEDERATION OF GARDEN CLUBS                   21
GENERAL FEDERATION OF WOMENS CLUBS ARIZONA INC       20
DISABLED AMERICAN VETERANS AUXILIARY INC             20
TEXAS MASTER GARDENER ASSOCIATION INC                20
Name: NAME, Length: 122, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df.CLASSIFICATION.value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
filter_class_count = class_count[class_count>1]
filter_class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_count[class_count < 100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

<ipython-input-12-fabd64654600>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df.drop(["IS_SUCCESSFUL"],1).values

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [27]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  6
hidden_nodes_layer2 = 6
hidden_nodes_layer3 = 6
hidden_nodes_layer4 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="LeakyReLU"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="LeakyReLU"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="LeakyReLU"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer4, activation="LeakyReLU"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 6)                 1080

 dense_15 (Dense)            (None, 6)                 42

 dense_16 (Dense)            (None, 6)                 42

 dense_17 (Dense)            (None, 6)                 42

 dense_18 (Dense)            (None, 1)                 7

=================================================================
Total params: 1,213
Trainable params: 1,213
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [30]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=150)

Epoch 1/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4559 - accuracy: 0.7734
Epoch 2/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4555 - accuracy: 0.7746
Epoch 3/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4554 - accuracy: 0.7750
Epoch 4/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4549 - accuracy: 0.7759
Epoch 5/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4542 - accuracy: 0.7764
Epoch 6/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4544 - accuracy: 0.7772
Epoch 7/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4541 - accuracy: 0.7771
Epoch 8/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4537 - accuracy: 0.7773
Epoch 9/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4538 - accuracy: 0.7772
Epoch 10/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4530 - accuracy: 0.7778
Epoch 11/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4531 - accuracy: 0.7783
Epoch 12/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4532 - accuracy: 0.7776
Epoch 13/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4525 - accuracy: 0.7774
Epoch 14/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4524 - accuracy: 0.7786
Epoch 15/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4523 - accuracy: 0.7788
Epoch 16/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4521 - accuracy: 0.7788
Epoch 17/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4519 - accuracy: 0.7793
Epoch 18/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4517 - accuracy: 0.7797
Epoch 19/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4515 - accuracy: 0.7793
Epoch 20/150
804/804 [==============================] - 4s 5ms/step - loss: 0.4515 - accuracy: 0.7800
Epoch 21/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4512 - accuracy: 0.7800
Epoch 22/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4510 - accuracy: 0.7796
Epoch 23/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4506 - accuracy: 0.7801
Epoch 24/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4505 - accuracy: 0.7790
Epoch 25/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4504 - accuracy: 0.7804
Epoch 26/150
804/804 [==============================] - 3s 4ms/step - loss: 0.4502 - accuracy: 0.7801
Epoch 27/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4502 - accuracy: 0.7808
Epoch 28/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4498 - accuracy: 0.7811
Epoch 29/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4496 - accuracy: 0.7807
Epoch 30/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4497 - accuracy: 0.7804
Epoch 31/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4495 - accuracy: 0.7809
Epoch 32/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4491 - accuracy: 0.7811
Epoch 33/150
804/804 [==============================] - 3s 4ms/step - loss: 0.4491 - accuracy: 0.7812
Epoch 34/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4490 - accuracy: 0.7814
Epoch 35/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4490 - accuracy: 0.7808
Epoch 36/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4487 - accuracy: 0.7819
Epoch 37/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4483 - accuracy: 0.7821
Epoch 38/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4482 - accuracy: 0.7821
Epoch 39/150
804/804 [==============================] - 4s 5ms/step - loss: 0.4482 - accuracy: 0.7822
Epoch 40/150
804/804 [==============================] - 6s 7ms/step - loss: 0.4478 - accuracy: 0.7820
Epoch 41/150
804/804 [==============================] - 4s 5ms/step - loss: 0.4479 - accuracy: 0.7823
Epoch 42/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4478 - accuracy: 0.7814
Epoch 43/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4477 - accuracy: 0.7823
Epoch 44/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4474 - accuracy: 0.7828
Epoch 45/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4476 - accuracy: 0.7818
Epoch 46/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4473 - accuracy: 0.7821
Epoch 47/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4473 - accuracy: 0.7827
Epoch 48/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4471 - accuracy: 0.7820
Epoch 49/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4468 - accuracy: 0.7827
Epoch 50/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4467 - accuracy: 0.7832
Epoch 51/150
804/804 [==============================] - 3s 4ms/step - loss: 0.4467 - accuracy: 0.7825
Epoch 52/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4464 - accuracy: 0.7826
Epoch 53/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4469 - accuracy: 0.7826
Epoch 54/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4462 - accuracy: 0.7823
Epoch 55/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4463 - accuracy: 0.7818
Epoch 56/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4461 - accuracy: 0.7834
Epoch 57/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4460 - accuracy: 0.7832
Epoch 58/150
804/804 [==============================] - 3s 4ms/step - loss: 0.4459 - accuracy: 0.7836
Epoch 59/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4459 - accuracy: 0.7824
Epoch 60/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4460 - accuracy: 0.7828
Epoch 61/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4458 - accuracy: 0.7817
Epoch 62/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4456 - accuracy: 0.7838
Epoch 63/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4454 - accuracy: 0.7835
Epoch 64/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4460 - accuracy: 0.7835
Epoch 65/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4453 - accuracy: 0.7824
Epoch 66/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4452 - accuracy: 0.7836
Epoch 67/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4452 - accuracy: 0.7835
Epoch 68/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4453 - accuracy: 0.7832
Epoch 69/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4455 - accuracy: 0.7834
Epoch 70/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4451 - accuracy: 0.7827
Epoch 71/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4451 - accuracy: 0.7839
Epoch 72/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4452 - accuracy: 0.7839
Epoch 73/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4447 - accuracy: 0.7837
Epoch 74/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4452 - accuracy: 0.7829
Epoch 75/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4451 - accuracy: 0.7831
Epoch 76/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4447 - accuracy: 0.7840
Epoch 77/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4447 - accuracy: 0.7832
Epoch 78/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4447 - accuracy: 0.7842
Epoch 79/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4447 - accuracy: 0.7848
Epoch 80/150
804/804 [==============================] - 3s 4ms/step - loss: 0.4448 - accuracy: 0.7844
Epoch 81/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4444 - accuracy: 0.7845
Epoch 82/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4444 - accuracy: 0.7832
Epoch 83/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4448 - accuracy: 0.7845
Epoch 84/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4447 - accuracy: 0.7842
Epoch 85/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4442 - accuracy: 0.7839
Epoch 86/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4444 - accuracy: 0.7842
Epoch 87/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4444 - accuracy: 0.7828
Epoch 88/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4442 - accuracy: 0.7848
Epoch 89/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4442 - accuracy: 0.7853
Epoch 90/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4442 - accuracy: 0.7836
Epoch 91/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4440 - accuracy: 0.7848
Epoch 92/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4440 - accuracy: 0.7839
Epoch 93/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4438 - accuracy: 0.7842
Epoch 94/150
804/804 [==============================] - 3s 4ms/step - loss: 0.4439 - accuracy: 0.7849
Epoch 95/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4440 - accuracy: 0.7856
Epoch 96/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4440 - accuracy: 0.7843
Epoch 97/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4439 - accuracy: 0.7846
Epoch 98/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4438 - accuracy: 0.7851
Epoch 99/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4437 - accuracy: 0.7852
Epoch 100/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4433 - accuracy: 0.7841
Epoch 101/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4433 - accuracy: 0.7850
Epoch 102/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4437 - accuracy: 0.7842
Epoch 103/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4436 - accuracy: 0.7844
Epoch 104/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4435 - accuracy: 0.7848
Epoch 105/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4437 - accuracy: 0.7847
Epoch 106/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4434 - accuracy: 0.7847
Epoch 107/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4438 - accuracy: 0.7844
Epoch 108/150
804/804 [==============================] - 3s 4ms/step - loss: 0.4433 - accuracy: 0.7846
Epoch 109/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4437 - accuracy: 0.7846
Epoch 110/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4436 - accuracy: 0.7845
Epoch 111/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4431 - accuracy: 0.7852
Epoch 112/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4434 - accuracy: 0.7848
Epoch 113/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4434 - accuracy: 0.7857
Epoch 114/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4433 - accuracy: 0.7842
Epoch 115/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4430 - accuracy: 0.7844
Epoch 116/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4430 - accuracy: 0.7846
Epoch 117/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4431 - accuracy: 0.7850
Epoch 118/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4430 - accuracy: 0.7851
Epoch 119/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4433 - accuracy: 0.7853
Epoch 120/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4429 - accuracy: 0.7859
Epoch 121/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4428 - accuracy: 0.7841
Epoch 122/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4432 - accuracy: 0.7853
Epoch 123/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4428 - accuracy: 0.7842
Epoch 124/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4431 - accuracy: 0.7853
Epoch 125/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4430 - accuracy: 0.7855
Epoch 126/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4425 - accuracy: 0.7847
Epoch 127/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4429 - accuracy: 0.7848
Epoch 128/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4428 - accuracy: 0.7848
Epoch 129/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4429 - accuracy: 0.7856
Epoch 130/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4424 - accuracy: 0.7853
Epoch 131/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4426 - accuracy: 0.7859
Epoch 132/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4424 - accuracy: 0.7852
Epoch 133/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4425 - accuracy: 0.7851
Epoch 134/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4426 - accuracy: 0.7860
Epoch 135/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4420 - accuracy: 0.7861
Epoch 136/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4420 - accuracy: 0.7859
Epoch 137/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4424 - accuracy: 0.7847
Epoch 138/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4423 - accuracy: 0.7858
Epoch 139/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4425 - accuracy: 0.7862
Epoch 140/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4421 - accuracy: 0.7855
Epoch 141/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4420 - accuracy: 0.7857
Epoch 142/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4422 - accuracy: 0.7861
Epoch 143/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4423 - accuracy: 0.7850
Epoch 144/150
804/804 [==============================] - 3s 3ms/step - loss: 0.4419 - accuracy: 0.7863
Epoch 145/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4426 - accuracy: 0.7860
Epoch 146/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4420 - accuracy: 0.7866
Epoch 147/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4422 - accuracy: 0.7860
Epoch 148/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4421 - accuracy: 0.7847
Epoch 149/150
804/804 [==============================] - 2s 2ms/step - loss: 0.4419 - accuracy: 0.7858
Epoch 150/150
804/804 [==============================] - 2s 3ms/step - loss: 0.4419 - accuracy: 0.7855

In [31]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4655 - accuracy: 0.7717 - 501ms/epoch - 2ms/step
Loss: 0.4654691219329834, Accuracy: 0.7716618180274963

In [32]:
# Export our model to HDF5 file
from google.colab import files

nn.save("AlphabetSoupCharity_Optimization_final.h5")
files.download('AlphabetSoupCharity_Optimization_final.h5')